<div class='blog'>
  <a href='/blog/{{id}}'>
    <header>
      <div class='container'>
        <div class='list-container'>
          <div class='vid-list'>
            <iframe width='135' height='240' src={{video_URL}}></iframe>
            <div class='flex-div'>
              <div class='vid-info'>
                {{blog_title}}
                <h4>{{user.username}}</h4>
                <p>{{format_date blog_date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </a>
</div>